{{#each copy.music}}
    <div class="card-sci" hidden id={{id}}>
        <div class="hero__media">
            {{#if img}}
                <figure>
                    <picture>
                        <img class="hero__img lazy" data-src="./assets/images/{{img}}" src="assets/images/placeholder.jpg" alt="{{{credit}}}" />
                    </picture>
                    {{#if alt}}
                        <figcaption> {{{alt}}} </figcaption>
                    {{/if}}
                </figure>
            {{/if}}
            {{#if embed}}
                <div class="videoContainer">
                    <iframe width="560" height="315" src="{{embed}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            {{/if}}
            {{#if video}}
                <video id="{{id}}-video" class="videoElem" data-src="{{video}}" data-srcmobile="{{video}}" playsinline="true" autoplay="true" muted="true">
                    <source src="{{video}}" type="video/mp4">
                </video>
            {{/if}}
        </div>
        <div class="hero__content">
            <div class="card__content">
                <a href="#" class="card--btn btn--primary overline">
                    <p class="btn__p">YOUR BRAIN VS. AI</p>
                </a>
                <h2 class="title__game">{{{title}}}</h2>
                {{#each text}}
                    <p class="card__content__p">{{{value}}}</p>
                {{/each}}
                {{#if checkbox}}
                    <div class="checkbox-container">
                        {{#each checkbox}}
                            <div class="checkbox-btn" data-value="{{value}}" id="{{id}}">{{text}}</div>
                        {{/each}}
                    </div>
                {{/if}}
                {{# ifEquals id 'speech-99'}}
                    <div class="speech-info-tip" id="speech-info-tip"></div>
                    <div class="btn--div">
                        {{#each btn}}
                            <a class="card--btn btn--secondary overline guessbtn-speech" id="{{id}}" data-next ={{next}} >
                                <p class="btn__p">{{{text}}}</p>
                            </a>
                        {{/each}}
                    </div>
                {{/ifEquals}}

                {{#ifNotEquals id 'speech-99'}}
                    <div class="btn--div">
                        {{#each slider}}
                            <div class="slider-container">
                                {{#if button}}
                                    <button class="card--btn btn--secondary overline slider_play_btn" id="{{../id}}__PlayBtn-{{@index}}">
                                        <p class="btn__p">
                                            <span class="play-svg play active">@@include('play.svg')</span><span class="play-svg pause">@@include('pause.svg')</span> {{{button}}}
                                        </p>
                                    </button>
                                {{/if}}
                                {{#if text}}
                                    <p class="btn__p"> {{{text}}}</p>
                                {{/if}}
                                {{#if audio}}
                                    <audio id="{{../id}}__audio-{{@index}}">
                                        <source src="assets/images/music/{{audio}}" type="audio/mp3">
                                    </audio>
                                {{/if}}
                                <div class="slider" id="{{../id}}__sliderContainer-{{@index}}">
                                    {{#if spotify}}
                                        <span class="slider-ring" data-attr="{{spotify}}">@@include('circle.svg')</span>
                                    {{/if}}
                                    <input type="range" min="0" max="1" value="0.5" step="0.01" class="inputSlider" id="{{../id}}__slider-{{@index}}">
                                    {{> story/slider }}
                                </div>
                            </div>
                        {{/each}}

                        {{#each btn}}
                            <a href="#{{next}}" class="card--btn btn--secondary overline" data-next ={{next}} >
                                <p class="btn__p">{{{text}}}</p>
                            </a>
                        {{/each}}
                    </div>
                {{/ifNotEquals}}

                {{#if social}}
                    <div class="share-note">
                        <p>Invite others to try…</p>
                    </div>
                    <ul class="site-footer__social">
                        <li>
                            <a href="https://twitter.com/intent/tweet?text=I%20just%20relived%20an%20immigrant’s%20journey%20to%20America%20via%20Experience%20magazine.%20Try%20it…%20&url=https://expmag.com/immigrant-experience/" target="_blank">@@include("twitter.svg")</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fexpmag.com%2Fimmigrant-experience" target="_blank">@@include("facebook.svg")</a>
                        </li>
                    </ul>
                {{/if}}
            </div>
        </div>
        <div class="return__container">
            <a href="#start-2" class="card--btn overline returnToStart">
                <p class="btn__p">Return to start</p>
            </a>
        </div>
    </div>
{{/each}}

