{{#each copy.speech}}
    <div class="card-sci" hidden id={{id}}>
        <div class="hero__media">
            {{#if img}}
                <figure>
                    <picture>
                        <img class="hero__img lazy" data-src="./assets/images/{{img}}" src="assets/images/placeholder.jpg" alt="{{{credit}}}" />
                    </picture>
                    {{#if alt}}
                        <figcaption> {{{alt}}} </figcaption>
                    {{/if}}
                </figure>
            {{/if}}
            {{#if video}}
                <video class="videoElem" id="{{id}}-video" data-src="{{video}}" data-srcmobile="{{video}}" playsinline="true">
                    <source src="{{video}}" type="video/mp4">
                </video>
            {{/if}}
        </div>
        <div class="hero__content">
            <div class="card__content">
                <a href="#" class="card--btn btn--primary overline">
                    <p class="btn__p">YOUR BRAIN VS. AI</p>
                </a>
                <h2 class="title__game">{{{title}}}</h2>
                {{#each text}}
                    <p class="card__content__p">{{{value}}}</p>
                {{/each}}
                {{#if checkbox}}
                    <div class="checkbox-container">
                        {{#each checkbox}}
                            <div class="checkbox-btn" data-value="{{value}}" id="{{id}}">{{text}}</div>
                        {{/each}}
                    </div>
                {{/if}}
                {{# ifEquals id 'speech-5'}}
                    <div class="speech-info-tip" id="speech-info-tip"></div>
                    <div class="btn--div">
                        {{#each btn}}
                            {{#if next}}
                                <a class="card--btn btn--secondary overline guessbtn-speech" id="{{../id}}__btn-{{@index}}" href="#{{next}}" >
                                    <p class="btn__p">{{{text}}}</p>
                                </a>
                            {{else}}
                                <a class="card--btn btn--secondary overline guessbtn-speech" id="{{../id}}__btn-{{@index}}" >
                                    <p class="btn__p">{{{text}}}</p>
                                </a><br/>
                            {{/if}}
                        {{/each}}
                    </div>
                {{/ifEquals}}

                {{#ifNotEquals id 'speech-5'}}
                    <div class="btn--div">
                        {{#each btn}}
                            <a href="#{{next}}" class="card--btn btn--secondary overline" data-next ={{next}} >
                                <p class="btn__p">{{{text}}}</p>
                            </a>
                        {{/each}}
                    </div>
                {{/ifNotEquals}}

                {{#if social}}
                    <div class="share-note">
                        <p>Share this interactive…</p>
                    </div>
                    <ul class="site-footer__social">
                        <li>
                            <a href="https://twitter.com/intent/tweet?text=Can%20your%20brain%20do%20a%20better%20job%20than%20artificial%20intelligence%3F%20Try%20this%20interactive%20to%20find%20out%3A&url=https://expmag.com/ai-experience/" target="_blank">@@include("twitter.svg")</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fexpmag.com%2Fyour-brain-vs-ai" target="_blank">@@include("facebook.svg")</a>
                        </li>
                    </ul>
                {{/if}}
            </div>
            <div class="return__container">
                <a href="#start-2" class="card--btn overline returnToStart">
                    <p class="btn__p">&#8592; Return to start</p>
                </a>
            </div>
        </div>
    </div>
{{/each}}

