{{#each copy.visual}}
    <div class="card-sci" hidden id={{id}}>
        <div class="hero__media">
            {{#if img}}
                <figure>
                    <picture>
                        <img class="hero__img lazy" data-src="./assets/images/{{img}}" src="assets/images/placeholder.jpg" alt="{{{credit}}}" />
                    </picture>
                    {{#if alt}}
                        <figcaption> {{{alt}}} </figcaption>
                    {{/if}}
                </figure>
            {{/if}}
            {{#if video}}
                <video class="videoElem" id="{{id}}__video" data-src="assets/images/{{video}}.mp4" data-srcmobile="assets/images/{{video}}_mobile.mp4" muted="true" autobuffer="true" preload="auto" playsinline="true">
                    <source id="laptopSrc" src="assets/images/{{video}}.mp4" type="video/mp4">
                    <img src="assets/images/placeholder.jpg" title="Your browser does not support the HTML5 video. Please update the browser to view the content.">
                </video>
            {{/if}}
        </div>
        <div class="hero__content">
            <div class="card__content">
                <a href="#start-1" class="card--btn btn--primary overline">
                    <p class="btn__p">YOUR BRAIN VS. AI</p>
                </a>
                <h2 class="title__game">{{{title}}}</h2>
                {{#each text}}
                    <p class="card__content__p">{{{value}}}</p>
                {{/each}}
                {{#if checkbox}}
                    <div class="checkbox-container">
                        {{#each checkbox}}
                            <div class="checkbox-btn" data-value="{{value}}" id="{{id}}">{{text}}</div>
                        {{/each}}
                    </div>
                {{/if}}

                {{#each playbtn}}
                    <button class="card--btn btn--secondary overline slider_play_btn" id="{{../id}}__PlayBtn">
                        <p class="btn__p">
                            {{{text}}}
                        </p>
                    </button>
                {{/each}}
                {{# ifEquals id 'visual-99'}}
                    <div class="visual-info-tip" id="visual-info-tip"></div>
                    <div class="btn--div">
                        {{#each btn}}
                            <a class="card--btn btn--secondary overline guessbtn-visual" id="{{id}}" data-next ={{next}} >
                                <p class="btn__p">{{{text}}}</p>
                            </a>
                        {{/each}}
                    </div>
                {{/ifEquals}}

                {{#ifNotEquals id 'visual-99'}}
                    <div class="btn--div">
                        {{#each btn}}
                            <a href="#{{next}}" class="card--btn btn--secondary overline" data-next ={{next}} >
                                <p class="btn__p">{{{text}}}</p>
                            </a>
                        {{/each}}
                    </div>
                {{/ifNotEquals}}

                {{#if social}}
                    <div class="share-note">
                        <p>Invite others to try…</p>
                    </div>
                    <ul class="site-footer__social">
                        <li>
                            <a href="https://twitter.com/intent/tweet?text=I%20just%20relived%20an%20immigrant’s%20journey%20to%20America%20via%20Experience%20magazine.%20Try%20it…%20&url=https://expmag.com/immigrant-experience/" target="_blank">@@include("twitter.svg")</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fexpmag.com%2Fimmigrant-experience" target="_blank">@@include("facebook.svg")</a>
                        </li>
                    </ul>
                {{/if}}
            </div>
        </div>
    </div>
{{/each}}

